<app-completar-fechas [askCompletaFechas]="askCompletarFechas" (onCompletarFechas)="onCompletarFechas($event)"></app-completar-fechas>

<div class="content" padding>
  <form  #checkForm="ngForm">
<mat-card>
       <mat-card-title>
       <strong>{{nombreLimpieza}}</strong>
     </mat-card-title>
  <mat-list>

<mat-list-item *ngFor="let control of currentLimpiezas; let i = index">
  <!--<span matTooltip="click to delete!"><mat-icon *ngIf="control.foto" name="camera-alt" item-left (click)="control.foto=''">camera_alt</mat-icon></span>
  <span matTooltip="click to delete!"><mat-icon *ngIf="control.descripcion"  name="clipboard" item-left (click)="control.descripcion=''">assignment</mat-icon></span>-->
  <span matTooltip="crea una incidencia!">
      <app-boton-incidencia   [origen]="incidencia[i]" [tipoOrigen]="'Limpiezas'" (nuevaIncidenciaCreada)="nuevaIncidencia($event,i)"></app-boton-incidencia>
    </span>
  <div class="item">
  <label class="label-item" [ngClass]="{'onDate':!control.isbeforedate,'beforeOnDate':control.isbeforedate,'porUso':control.descripcion == 'por uso'}" (click)="opciones(control)">{{control.nombreElementoLimpieza}}</label>
       <span *ngIf="control.isbeforedate && control.descripcion != 'por uso'"  [ngClass]="{'onDate':!control.isbeforedate,'beforeOnDate':control.isbeforedate,'porUso':control.descripcion == 'por uso'}"> - {{control.fecha_prevista | date:'dd-MM-yyyy'}} </span> 
     <span *ngIf="control.descripcion =='por uso'" [ngClass]="{'onDate':!control.isbeforedate,'beforeOnDate':control.isbeforedate,'porUso':control.descripcion == 'por uso'}"> - {{'por uso' | translate}} </span>   
  <div class="listitem"> 

   <mat-slide-toggle (change)="cambio($event,control)"
          class="check"
          [color]="color"
          [checked]="control.checked">
        
      </mat-slide-toggle>
  </div>
  </div>
  </mat-list-item>
  </mat-list>
<hr>   
<!--<my-images [index]="i" [currentControl]="control" (image)="takeFoto($event)"  style="width:30%; display:flex; float:left;margin-right: 15px"></my-images> -->
<button  [disabled]="!checkForm.form.valid" mat-raised-button  color="accent" [disabled]="desactivado"  (click)="terminar()" style="width: 30%;">{{"terminar" | translate}}</button>
<button mat-raised-button  color="warn" (click)="cancelar()" style="width: 30%;">{{"cancelar" | translate}}</button>
</mat-card>
</form>
   <!--<mat-card>
     <mat-card-title>
     </mat-card-title>
    <mat-card-content *ngIf="base64Image" >
      <img [src]="base64Image" *ngIf="base64Image" />
</mat-card-content>
  </mat-card>-->
</div>