page-home {
img.center{
    display:block;
    margin:0 auto;
}
logo{
    max-height: 85px;
    max-width: 250px;    
}
}
.content{
    width: 800px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
}
