<mat-toolbar>
 
 
  <button *ngIf="status != 'Login'" (click)="status='Home'">
    <mat-icon>home</mat-icon>
  </button>
  <button style="margin-left:15px"(click)="status='Login'">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button *ngIf="status != 'Login'" style="margin-left:15px" (click)="informes=true;">
    <mat-icon>cloud_download</mat-icon>
  </button>
  <div class="titulo">{{status}}</div>
  <div class="logo"><img src="./assets/img/logo.png"></div>
</mat-toolbar>


<login class="login frame" *ngIf="status == 'Login'" (status)="cambiaEstado($event)"></login>
<app-servicios-entrada  class="control frame" *ngIf="status == 'serviciosEntrada'"  (status)="cambiaEstado($event)" (checklistSeleccionado)="checklistSeleccionado($event)"></app-servicios-entrada>
<page-home class="home frame" *ngIf="status == 'Home'" (status)="cambiaEstado($event)" (controlSeleccionado)="controlSeleccionado($event)" (checklistSeleccionado)="checklistSeleccionado($event)" (checkLimpiezaSeleccionado)="checkLimpiezaSeleccionado($event)" (checkMantenimientoSeleccionado)="checkMantenimientoSeleccionado($event)"></page-home>
<page-control class="control frame" *ngIf="status == 'Control'" [currentControl]="control" (status)="cambiaEstado($event)"></page-control>
<page-check class="check frame" *ngIf="status == 'Checklist'" [inputChecklist]="checklist" (status)="cambiaEstado($event)"></page-check>
<page-check-limpieza class="check frame" *ngIf="status == 'Checklimpieza'" [inputCheckLimpieza]="limpiezas" (status)="cambiaEstado($event)"></page-check-limpieza>
<app-mantenimientos class="check frame" *ngIf="status == 'CheckMantenimiento'" [inputMantenimiento]="mantenimiento" (status)="cambiaEstado($event)"></app-mantenimientos>
<app-mcorrectivos class="check frame" *ngIf="status == 'CheckMCorrectivo'"  (status)="cambiaEstado($event)"></app-mcorrectivos>
<app-informes class="informes frame" *ngIf="informes" (status)="cambiaEstado($event)" (onExit)="informes=false"></app-informes>
