<!-- <span class="tooltip" matTooltip="{{'incidencia.nueva' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
    [matTooltipPosition]="'right'">   -->
    <span class="tooltip" matTooltip="{{'incidencia.nueva' | translate}}"
    [matTooltipPosition]="'right'"> 
    <!-- color="warn" [disabled]="hayIncidencia" [ngStyle]="{'background-color':getColor()}"-->
<button mat-mini-fab  [color]="getColor()"   (click)="setIncidencia()"> <span class="material-icons">info</span></button>
</span>
<div *ngIf="nuevaIncidencia" class="newIncident">
    <form  #newItemForm="ngForm" (ngSubmit)="newItem()">
  
<span class="formIncidencia tooltip" matTooltip="{{'incidencia.nueva' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'above'">

        <input type="hidden" [(ngModel)]="newIncidencia.id" name="id">
        <input type="hidden" [(ngModel)]="newIncidencia.foto" name="foto">
        <span class="elem">
          <label class="label">{{'incidencia.incidencia' | translate}}</label>
          <input class="itemElem" type="text" [placeholder]="'incidencia.incidencia' | translate" required [(ngModel)]="newIncidencia.incidencia" name="incidencia">
        </span>
        <span class="elem">
            <label class="label">{{'incidencia.fecha' | translate}}</label>
          <!-- <p-calendar class="itemElem" [inputStyle]="{'width':'200px'}" placeholder="fecha" [(ngModel)]="newIncidencia.fecha" [locale]="es" dateFormat="dd/mm/yy" hourFormat="24" [showTime]="true" name="fecha"> -->
            <p-calendar [disabled]="true"class="itemElem"  #cal appendTo="body" [inputStyle]="{'width':'200px'}" [(ngModel)]="newIncidencia.fecha" [locale]="es" dateFormat="dd/mm/yy"
            hourFormat="24" [showTime]="true" (onSelect)="itemDateEdited(newIncidencia.fecha,$event)" name="fecha">
            <p-footer>
                <button pButton type="button" (click)="okDate(cal)" icon="fa-check" style="margin-left:45%"></button>
            </p-footer>
            <ng-template pTemplate="date" let-date>
                <span [ngStyle]="{backgroundColor: (date.day == selectedDay) ? '#7cc67c' : 'inherit'}" style="border-radius:50%">{{date.day}}</span>
            </ng-template>
        </p-calendar>
            <!-- <p-header>
                <button pButton type="button" (click)="ok()" icon="fa-close"></button>
            </p-header>
          </p-calendar> -->
        </span>
        
        <span class="elem">
            <label class="label">{{'incidencia.solucion' | translate}}</label>
           <textarea class="itemElem"  pInputTextarea [placeholder]="'incidencia.solucion' | translate" [(ngModel)]="newIncidencia.solucion" name="solucion">
           </textarea>
        </span>
          <!-- <span class="elem">
              <label class="label">{{'incidencia.responsable' | translate}}</label>
          <input class="itemElem" type="text" [placeholder]="'incidencia.responsable' | translate" required [(ngModel)]="newIncidencia.responsable" name="responsable">
        </span> -->

        <!-- <div class="elem">
            <label  class="label">{{'incidencia.r_cierre' | translate}}</label>
      <p-dropdown styleClass="itemElem"  [style]="{'width':'200px'}" [options]="responsables" [(ngModel)]="newIncidencia.responsable_cierre" placeholder="{{'incidencia.r_cierre' | translate}}"  name="r_cierre"></p-dropdown>    
        </div> -->

        <div class="elem">
                <label  class="label">{{'incidencia.r_cierre' | translate}}</label>
        <mat-form-field style="background-color: #fff;width: 200px;margin-left: 15px;">
            <mat-select placeholder="{{'incidencia.r_cierre' | translate}}" [(ngModel)]="newIncidencia.responsable_cierre" name="r_cierre">
              <mat-option *ngFor="let responsable of responsables" [value]="responsable.value">
                {{responsable.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <br>
        <div class="space"></div>
             
          <span class="elem mini-fab">
          <span class="cell tooltip" matTooltip="{{'subirFoto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'above'">      
                  <label  class="inputlabelRound" attr.for="{{'foto'}}"><span style="margin-left:60px">{{newIncidencia.foto}}</span></label>                
                  <input  id="{{'foto'}}" class="inputfile" type="file" (change)="setImg($event)" accept=".gif,.jpg,.jpeg,.png"/>
                      
                    
                </span>
                </span>
      <div style="height: 15px" ></div>

    </span>
    <div class="buttons">
      <hr class="hr">
      <button type="button" mat-raised-button [disabled]="!newItemForm.form.valid" type="submit" >{{'guardar' | translate}}</button>
      <button type="button" mat-raised-button (click)="setIncidencia()">{{'cancelar' | translate}}</button>
  </div>
</form>

</div>