/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';



.content{
    width: 800px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
}
.frame{
    margin-top:50;
}

.onDate{
    color: green;
  }
  .beforeOnDate{
      color:red;
  }
  .porUso{
      color: blue !important;
  }
  .elem{
    margin-left:15px;
}